<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
    <class name="com.parabank.DataProviders"/>
    
     <!--<class name="com.parabank.TestRegister"/>
     <class name="com.parabank.TestLoginDataP"/>
     <class name="com.parabank.TestLogin"/>     
      <class name="com.parabank.TestRegister1"/>
     <class name="com.parabank.TestLoginDataP"/>
      <class name="com.parabank.TestLogin"/>
      <class name="com.parabank.DataProviders"/>-->
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


